@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="d-flex align-items-center">
            <span class="me-2">@context.User.Identity?.Name</span>
            <a href="/signout-google" class="btn btn-sm btn-outline-secondary">Sign Out</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="/signin-google" class="btn btn-sm btn-primary">Sign In with Google</a>
    </NotAuthorized>
</AuthorizeView>